:root {
    --bg: #0d0d0d;
    --fg: #bdbdbd;
    --link: #80a0ff;
    --link-hover: #b2ceee;
    --cursor: #9e9e9e;
    --selection-bg: #b2ceee;
    --selection-fg: #080808;
    --prompt: #e3c78a;

    --font: "JetBrains Mono", monospace;
}

body {
    min-height: 95vh;
    padding: 1.5rem;
    margin: 0;

    background: var(--bg);
    color: var(--fg);
    font-family: var(--font);
    font-weight: 500;
    font-size: 1rem;

    display: flex;
    flex-direction: column;
}

::selection {
    background: var(--selection-bg);
    color: var(--selection-fg);
}

pre,
ul {
    margin: 0;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
}

footer {
    margin-top: auto;
}

.output {
    width: 100%;
    max-width: 80ch;
    animation: fade 3s;
}

.prompt {
    color: var(--prompt);
}

.command-line {
    display: flex;
    align-items: baseline;
    gap: 1ch;
}

.output p+.command-line {
    margin-top: 2rem;
}

.typing {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;

    border-right: 10px solid var(--cursor);
    width: 15ch;

    animation:
        typing 1.5s steps(15, end),
        blink 0.5s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 15ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes fade {

    0%,
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width:600px) {
    body {
        font-size: 1.25rem;
    }
}
