* {
    background: #0d0d0d;
    color: #bdbdbd;

    font-family: "JetBrains Mono", monospace;
    font-weight: 500;
}

body {
    min-height: 95vh;
    padding: 1rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

a {
    color: #80a0ff;
    text-decoration: none;
}

footer {
    margin-top: auto;
}

a:hover {
    color: #b2ceee;
}

.output {
    width: 100%;
    max-width: 80ch;
    animation: fade 3s;
}

.command-line {
    display: flex;
    align-items: baseline;
}

.prompt {
    white-space-collapse: preserve;
}

.typing {
    width: 15ch;

    white-space: nowrap;
    overflow: hidden;

    border-right: 10px solid #9e9e9e;

    animation:
        typing 1.5s steps(15, end),
        blink 0.5s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 15ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width:600px) {
    body {
        font-size: 1.25rem;
    }
}
